@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.dropdown-item{
    font-family: cursive;
}
dropdown-item :hover{
    background-color: rgb(190, 13, 13);

}
.dropdown-menu{
  background-image: radial-gradient(white 90%, black 10%);

}
.tit{
    font-family: cursive;
}

.caption-1{
    font-family: cursive;
    font-weight: 1000;
    color: rgb(238, 245, 238);
    
    transform: translate(-40%, -450%);
}
.navbar-brand{
    background: transparent;
}
.nav-item{
    padding: 20px;
}
.nav-link active :hover{
  font-style: italic;
}

p {
  text-align: center;
  color: rgb(244, 244, 244);
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
  box-sizing: border-box;
}





.AandM::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.582);
  position: absolute;
  z-index: -1;
  left: 0;
  width:100%;
  height: 100%;

}
.AandM{
  background: url('https://i.im.ge/2022/07/07/u3tFYa.jpg') no-repeat center center/cover;
  min-height: 400px;
  width: 100%;
  backdrop-filter: blur(4px);
  opacity: .9;
}
#home{
  min-height: 400px;
  position: relative;
}
.h-primary {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 8px;
  color: whitesmoke;
  text-shadow: 0.4rem 0.2rem 1rem rgb(202, 202, 202);
}







/* footer  */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 195px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: white;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
 span{
  color: white;
}


/* footer ends  */